{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'BekarJubok/register.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div>
        <form action="{% url 'Register' %}" method="POST">
            {% csrf_token %}
            <div class="form">

            <div class="manual">
            <label>Username</label>
            <input type="text" name="username" placeholder="username">
            <label>Email</label>
            <input type="text" name="email" placeholder="email">
            <label>Password</label>
            <input type="password" name="password1" placeholder="password">
            <label>Confirm Password</label>
            <input type="password" name="password2" placeholder="confirm">
            <input type="submit" value="Register">
            </div>
            <div class="social">
                <a href="https://www.facebook.com/" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Register with Facebook
                   </a>
                   <a href="https://twitter.com/" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Register with Twitter
                  </a>
                  <a href="https://www.linkedin.com/" class="google btn"><i class="fa fa-linkedin fa-fw">
                </i> Register with Linkedin
              </a>
            </div>
        </div>
        </form>
       <!--<form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">
            Register</button>
        </form>-->
    </div>
    </body>
</html>

